<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
<form>
	
</form>
	<table st-table="displayedCollection" st-safe-src="things" class="table table-striped">

		<thead>
			<tr><td colspan="5"><input st-search="" class="form-control" placeholder="Global Search" type="text"/></td></tr>
			<th>Counter</th>
			<th ng-repeat="item in tableHeaders" st-sort="'{{item[0]}}'">{{item[1]}}</th>
		</tr>
		<tr>
			<th></th>
                        <th><input st-search="'address'" class="form-control" placeholder="{{tableHeaders[0][1]}}" type="text" /></th>
                        <th><input st-search="'date_reported'" class="form-control" placeholder="{{tableHeaders[1][1]}}" type="text" /></th>
                        <th><input st-search="'hour_reported'" class="form-control" placeholder="{{tableHeaders[2][1]}}" type="text" /></th>
                        <th><input st-search="'date_occurred'" class="form-control" placeholder="{{tableHeaders[3][1]}}" type="text" /></th>
                        <th><input st-search="'hour_occurred'" class="form-control" placeholder="{{tableHeaders[4][1]}}" type="text" /></th>
                        <th><input st-search="'event_type_description'" class="form-control" placeholder="{{tableHeaders[5][1]}}" type="text" /></th>
                        <th><input st-search="'service_call_description'" class="form-control" placeholder="{{tableHeaders[6][1]}}" type="text" /></th>
                        <th><input st-search="'ACTDATE_unknown'" class="form-control" placeholder="{{tableHeaders[7][1]}}" type="text" /></th>
                        <th><input st-search="'ACTTIME_unknown'" class="form-control" placeholder="{{tableHeaders[8][1]}}" type="text" /></th>
                        <th><input st-search="'address_NS_num'" class="form-control" placeholder="{{tableHeaders[9][1]}}" type="text" /></th>
                        <th><input st-search="'address_NS_dir'" class="form-control" placeholder="{{tableHeaders[10][1]}}" type="text" /></th>
                        <th><input st-search="'address_EW_num'" class="form-control" placeholder="{{tableHeaders[11][1]}}" type="text" /></th>
                        <th><input st-search="'address_EW_dir'" class="form-control" placeholder="{{tableHeaders[12][1]}}" type="text" /></th>
                        <th><input st-search="'neighborhood_name'" class="form-control" placeholder="{{tableHeaders[13][1]}}" type="text" /></th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in displayedCollection" >
			<td>{{$index+1}}</td>
                        <td ng-repeat="field in tableHeaders">{{row[field[0]]}}</td>
			<td>
				<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle"></i>
				</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
			</td>
		</tr>
	</tfoot>
</table>
</div>
